.chartBar-content{
    height: 12rem;
    width: 8%;
    max-width: 30px;
    padding: 0.5rem 0.6rem;
    padding-bottom: 2.5rem;
    text-align: center;
}

.bar-content{
    border-radius: 2rem;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.barLevel{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0c08eb;
    /* transition: height 0.3s ease; */
}

.chartBar-title{
    font-size: 13px;
    padding-top: 1rem;
    color: #fff;
}